/* Aqui se configura, accedemos a la etiqueta main que es la principal para poner el fondo que se necesita*/

*{
    /* Aqui Normalizamos los valores del navegador en toda la pagina */
    margin: 0;
    padding: 0;
}
main{
    /* Aqui agregamos la propiedad Background Image para ponerla como fondo */
    background-image: url('../images/Background/fotor-ai-20240227134032.jpg');
    /* Est propiedad sirve para que la imagen "calze" correctamente en proporciones */
    background-size: cover;
    /* Asignamos lo grande que sera la imagen del dispositivo */
    max-width: 100vw;
    min-height: 100vh;
}